# Dependencies
node_modules/

# Environment variables
.env

# Terraform sensitive files
*.tfvars
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfvars

# OS files
.DS_Store
desktop.ini

# Private keys
*.pem
*.key

# Logs
*.log